<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <commands>
          <command patch:instead="*[@name='item:addmaster']" name="item:addmaster" type="Sitecore.Support.Buckets.Pipelines.UI.AddMaster, Sitecore.Support.104178" />
      </commands>
      <processors>
          <uiAddFromTemplate>
              <processor patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.AddFromTemplate.SelectItem']" mode="on" type="Sitecore.Support.Buckets.Pipelines.UI.AddFromTemplate.SelectItem, Sitecore.Support.104178" method="Execute" />
          </uiAddFromTemplate>
      </processors>
  </sitecore>
</configuration>